/* 메인 */
.course_detail {
    margin: 1%;
    width : 40%;
    text-align: center;
    vertical-align: middle;
}
/* 메인 장소 입력칸 */
.course_detail #inputPlace {
    border-top: 2px solid #40a0ff;
    border-left: 2px solid #40a0ff;
    border-bottom: 2px solid #40a0ff;
    border-right: #fff;
}
/* 메인 장소 입력칸 오른쪽 버튼 */
.course_detail #searchBtn {
    border-top: 2px solid #40a0ff;
    border-right: 2px solid #40a0ff;
    border-bottom: 2px solid #40a0ff;
    border-left: #fff;
}
a {
    text-decoration: none;
}
/* 메인 뒤로가기 버튼 */
#backToMainCourse{
    vertical-align: top;
    margin-right: 3%;
}
/* 메인 > 이미지 영역 */
#homeDetail {
    text-align: left;
}
/* 메인 > 장소이름 */
#homeTitle {
    margin-left: 7%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
/* 메인 > 장소이름 > 카테로고리명 */
#homeTitle .food_type {
    color: #8D8D8D;
    font-size: 15px;
}
/* 메인 > 리뷰점수 */
#reviewStatics {
    display: flex;
    margin-left: 7%;
}
#reviewStatics span {
    margin-right: 5%;
}
/* 메인 > 리뷰점수 > 수치 */
#reviewScore {
    color: red;
}
/* 메인 > 홈/리뷰 선택 */
#homeOrReview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 5%;
    border-bottom: 1px solid #ddd;
}
#homeOrReview span {
    margin: 5% auto 1%;
}
a[aria-selected='true'] {
    color: #40a0ff;
}
a[aria-selected='false'] {
    color: black;
}
/* 메인 > 장소이름 > 홈 > 상세정보 */
#homeContents {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;
    height: 420px;
    overflow-y: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}
/* 메인 > 장소이름 > 홈 > > 상제성보 > 정보 수정 제안 링크 */
.location_modify_suggestion {
    text-align: right;
    text-decoration: underline;
}
#modifyLink {
    color: #8D8D8D;
}
/* 메인 > 장소이름 > 홈 > 상세정보 > 지번 */
#homeContents .street_number {
    margin-left: 5%;
    color: #8D8D8D;
    font-size: 15px;
}
/* 메인 > 장소이름 > 홈 > 상세정보 span 태그 */
#homeContents span {
    margin: 1% 0;
}
/* 메인 > 장소이름 > 홈 > 영업중 시간 */
.location_time li {
    margin-left: 5%;
    list-style: none;
}
/* 메인 > 장소이름 > 홈 > 상세정보 url */
#locationUrl {
    text-decoration: underline;
}
/* 메인 > 장소이름 > 리뷰 > 상세정보 */
#reviewContents {
    margin: 3% 7% 2% 7%;
    height: 420px;
    overflow-y: auto;
    text-align: left;
}
#userAfterCourseDate1 {
    color: #7B7B7B;
}
/* 전체 버튼 */
.btn-primary {
    background-color: #40a0ff !important;
    padding: 15px;
    border: 2px solid #40a0ff;
    border-radius: 10px;
}
/* 사이드바 토글 버튼 */
.sidebar-arrow-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    text-align: center;
    background-color: transparent;
    transition: width 0.3s ease;
    z-index: 2;
}
.sidebar-arrow-container .sidebar-toggle {
    position: absolute;
    top: 50vh;
    left: 30%;
    width: 50px;
    height: 80px;
    border-left: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url('../../images/icons/toggleButton_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}
.sidebar-container.open {
    width: 200px;
}
/* 장소 리스트 */
#reviewContents {
    margin-top: 4%;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* 스크롤바 가로길이 */
#reviewContents::-webkit-scrollbar {
    width: 10px;
}
/* 스크롤바 바영역 색상 */
#reviewContents::-webkit-scrollbar-thumb {
    background-color: #40a0ff;
    border-radius: 5px;
}
/* 스크롤바 스크롤영역 색상 */
#reviewContents::-webkit-scrollbar-track {
    background-color: #E1E1E1;
    border-radius: 5px;
}
/* 리뷰 리스트 */
#reviewDetailList {
    margin-left: -6%;
}
#reviewDetailList li {
    padding-top: 3%;
    padding-bottom: 5%;
    border-bottom: 2px solid #E1E1E1;
}