<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextPin</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/kakaoMap.css"/>
    <link rel="stylesheet" href="css/course/maincourse.css"/>
    <!-- 사이드바 스타일 시트 적용 -->
    <link rel="stylesheet" href="css/common/sidebar_myPin.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--커뮤니티 메인페이지 스타일 시트 적용-->
    <link rel="stylesheet" href="css/community/community.css"/>

    <!-- jQuery -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!--카카오맵 불러오기-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b65896833a405b71281c94d1dd53a4de&libraries=services"></script>

    <!-- 파비콘 설정 -->
    <link rel="icon" type="image/png" href="../images/icons/NP_pavicon.png">
</head>
<body>
<!-- 사이드바 -->
<nav id="side-bar">
    <!--로고-->
    <a href="/main" class="logo">
        <img src="../images/icons/NP_icon.png" alt="로고 아이콘">
    </a>
    <!--구분선-->
    <div class="separator"></div>
    <a href="/mainCourse" class="menu-item menu-item-course">
        <img src="../images/icons/course_icon.png" alt="코스">
        <span>코스</span>
    </a>
    <a href="/calendar" class="menu-item">
        <img src="../images/icons/calendar_icon.png" alt="일정">
        <span>일정</span>
    </a>
    <a href="/community" class="menu-item">
        <img src="../images/icons/community_icon.png" alt="커뮤니티">
        <span>커뮤니티</span>
    </a>
    <a href="/randomPin" class="menu-item">
        <img src="../images/icons/randomPin_icon.png" alt="랜덤핀">
        <span>랜덤핀</span>
    </a>
    <a href="/myPin" class="sidebar-profile">
        <img src="../images/icons/mypage_icon.png" alt="Profile">
    </a>
</nav>
<div class="root">
    <div class="root_wrap">
        <!--사이드바 END-->

        <div id="app_layout">
            <div class="community_section">
                <!--검색창-->
                <div class="searching">
                    <h1>코스별 랭킹 순위</h1>
                    <div class="search-bar">
                        <div class="search-container">
                            <input type="text" placeholder="검색어를 입력하세요" class="search-input" id="searchInput">
                            <!--검색 버튼: 돋보기.svg-->
                            <button class="search-button">
                                <img src="../images/icons/Search-blue_icon.png" alt="검색">
                            </button>
                        </div>
                    </div>
                </div>

                <!--유저들의 코스 랭킹-->
                <div class="ranking">
                    <ul>
                        <li th:each="map, stat : ${courseListMap}"
                            th:if="${map != null}">
                            <th:block th:each="entry : ${map.entrySet()}"
                                      th:if="${entry != null}">
                                <div class="ranking-item" th:data-course-id="${entry.key.courseId}">
                                    <div class="ranking-number">[(${entry.key.courseRank})]</div>
                                    <button class="profilePicture" onclick="goToProfile(this)">
                                        <img th:src="'../images/img/profile/profile' + ${entry.key.courseId % 10} + '.png'" alt="프로필">
                                        <span>[(${entry.key.nickname})]</span>
                                    </button>
                                    <input type="button" class="course-button" data-bs-toggle="collapse"
                                           th:onclick="drawPinCourse([[${entry.value}]])"
                                           th:data-bs-target="'#collapseExample' + ${entry.key.courseId}"
                                           th:aria-controls="'collapseExample' + ${entry.key.courseId}"
                                           th:style="${'background-color:' + entry.key.color}"
                                           th:value="${entry.key.courseName}">
                                    <button class="heart-button">
                                        <img src="../images/icons/heart-before_icon.png" alt="Heart">
                                        <span>[(${entry.key.heartCnt})]</span>
                                    </button>
                                </div>
                                <div class="collapse" th:id="'collapseExample' + ${entry.key.courseId}">
                                    <div class="card card-body">
                                        <th:block th:each="detail, detailIdx: ${entry.value}"
                                                  th:if="${detailIdx.index == 0 or (detailIdx.index > 0 and detail.visitDate != entry.value[detailIdx.index - 1].visitDate)}">
                                            <ul>
                                                <div class="course-day-box">
                                                    <p class="course-day-label" th:text="${(detail.day == null or detail.day == 'null' or detail.day == 0) ? (detailIdx.index + 1) + '일차' : detail.day + '일차'}"></p>
                                                    <p class="course-day" th:text="${#dates.format(detail.visitDate, 'yyyy-MM-dd')}"></p>
                                                    <a class="course-day-link" href="/calendar">상세보기</a>
                                                </div>
                                                <li th:each="inDetail, inDetailIdx: ${entry.value}"
                                                    th:if="${detail.visitDate == inDetail.visitDate}">
                                                    <div>
                                                        <span th:text="${inDetail.location}"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </th:block>
                                    </div>
                                </div>
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="sidebar-arrow-container">
                <div class="sidebar-toggle">
                    <img class="arrow-icon" src="../images/icons/backButton-B_icon.png" alt="toggle icon">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 카카오맵-->
<div class="mapping">
    <div class="map_wrap">
        <div id="map" style="width:200%;height:100vh;position:absolute;overflow:hidden;"></div>
    </div>
</div>
</body>
<script src="js/community/community.js"></script>
</html>