<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>NextPin</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/kakaoMap.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <!-- 랜덤핀 모달창 스타일 시트 적용-->
    <link rel="stylesheet" href="css/randompin/randomPinModal.css">
    <!-- 사이드바 스타일 시트 적용 (김션이 수정, 사이드바 css파일 내껄로 바꿈여)-->
    <link rel="stylesheet" href="css/common/sidebar_myPin.css">

    <!-- jQuery UI CSS 파일 -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <!-- jQuery 기본 js 파일 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- jQuery UI 라이브러리 js 파일 -->
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!--카카오맵 불러오기-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b65896833a405b71281c94d1dd53a4de&libraries=services"></script>

    <!-- 파비콘 설정 -->
    <link rel="icon" href="../images/icons/NP_pavicon.png" type="image/png">
</head>
<body>
<!-- 김션이 수정, 사이드바 html부분 바꿈-->
<!-- 사이드바 -->
<nav id="side-bar">
    <!--로고-->
    <a href="/main" class="logo">
        <img src="../images/icons/NP_icon.png" alt="로고 아이콘">
    </a>
    <!--구분선-->
    <div class="separator"></div>
    <a href="/mainCourse" class="menu-item menu-item-course">
        <img src="../images/icons/course_icon.png" alt="코스">
        <span>코스</span>
    </a>
    <a href="/calendar" class="menu-item">
        <img src="../images/icons/calendar_icon.png" alt="일정">
        <span>일정</span>
    </a>
    <a href="/community" class="menu-item">
        <img src="../images/icons/community_icon.png" alt="커뮤니티">
        <span>커뮤니티</span>
    </a>
    <a href="/randomPin" class="menu-item">
        <img src="../images/icons/randomPin_icon.png" alt="랜덤핀">
        <span>랜덤핀</span>
    </a>
    <a href="/myPin" class="sidebar-profile">
        <img src="../images/icons/mypage_icon.png" alt="Profile">
    </a>
</nav>
<div id="root">
    <div class="root_wrap">

        <div id="app_layout">
            <!--장소 검색창-->
            <div class="modal-content" id="modal-cont">
                <h2>어디로 가시겠습니까?</h2>
                <input type="text" placeholder="지역을 입력해주세요.">
                <button onclick="searchPlaces1()">전국 어디든!</button>
            </div>

            <!-- Loading spinner -->
            <div id="loading-spinner" style="display:none; text-align: center;">
                <img src="../images/icons/randomPin_icon.png" alt="Loading Spinner">
                <p>실시간 랜덤핀을 돌리는 중...</p>
            </div>

            <!--검색 결과 창-->
            <div id="courseDetail" class="course_detail" style="display: none">
                <div class="course_detail_outline">
                    <div class="random_list">
                        <!--                        <div class="logo">-->
                        <!--                            <a href="../main" class="link">-->
                        <!--                                <img src="../images/icons/logo-NextPin-A_icon.png" alt="NextPin Logo">-->
                        <!--                            </a>-->
                        <!--                        </div>-->
                        <form onsubmit="searchPlaces1(); return false;">
                            <div class="input-group mb-3">
                                <input type="text" id="inputPlace" class="form-control" >
                                <button class="btn" type="button" id="searchBtn">
                                    <img src="../images/icons/Search-blue_icon.png" alt="돋보기">
                                </button>
                            </div>
                        </form>
                        <!--슬라이드바 추가-->
                        <div id="locationList">
                            <ul id="placesList"></ul>
                        </div>
                        <div class="save-button">
                            <button type="button" role="button" aria-haspopup="true" aria-controls="makeCourse" aria-expanded="false" class="course-btn" id="course-btn">
                                코스 저장하기</button>
                        </div>
                    </div>
                    <!--내 코스 생성창-->
                    <div class="sub_panel" id="makeCourse" role="dialog" aria-labelledby="chosenPinHeading" aria-modal="true" tabindex="-1">
                        <!--코스 선택-->
                        <div class="myCourse">
                            <h3><span class="blue"> • </span>코스를 선택하세요.</h3>
                            <form action="#">
                                <select name="myCourse" id="myCourse">
                                    <option value="newCourse">새 코스</option>
                                    <option value="myCourse1">신논현 맛집 투어</option>
                                    <option value="myCourse2">압구정 로데오 핫플</option>
                                    <option value="myCourse3">성수 카페 투어</option>
                                </select>
                                <!--                                <input type="submit" value="Submit" />-->
                            </form>
                        </div>
                        <!--캘린더 날짜 선택-->
                        <div class="calendar">
                            <h3><span class="blue"> • </span>날짜를 입력하세요.</h3>
                            <input type="text" class="input__item" id="testDatepicker" placeholder="날짜를 선택하세요." autocomplete="off" />
                        </div>
                        <!--메모 div-->
                        <div class="memo-container">
                            <div class="memo-title">
                                <h3><span class="blue"> • </span>메모를 입력하세요. (선택)</h3>
                                <input type="checkbox" id="memo-active">
                            </div>
                            <textarea class="memo-input" id="memo-text" maxlength="15" placeholder="내용 입력 (15자 이내)" disabled></textarea>
                        </div>
                        <!--색상 div-->
                        <div class="color">
                            <h3><span class="blue"> • </span>색을 선택하세요.</h3>
                            <div class="colorPalette">
                                <button class="color-button" style="background-color: #FFC061;"></button>
                                <button class="color-button" style="background-color: #D4ADFB;"></button>
                                <button class="color-button" style="background-color: #97E285;"></button>
                                <button class="color-button" style="background-color: #F9A7A7;"></button>
                                <button class="color-button" style="background-color: #1A70D6;"></button>
                                <button class="color-button" style="background-color: #7BD0FF;"></button>
                                <button class="color-button" style="background-color: #C8C8C8;"></button>
                                <button class="color-button" style="background-color: #BADCE3;"></button>
                                <button class="color-button" style="background-color: #AFA18E;"></button>
                                <button class="color-button" style="background-color: #ECCCCF;"></button>
                            </div>
                        </div>
                        <!--확인 버튼 (코스 생성)-->
                        <div class="finishButton">
                            <button id="finish-button" style="background-color: #4098FF;">확인</button>
                        </div>
                        <!--                        </div>-->
                        <!--                        <button>창 접는 버튼</button>-->
                    </div>
                    <div id="newCoursePanel" class="new-panel hidden">
                        <button type="button" class="close_icon" id="close_icon" aria-haspopup="true" aria-controls="makeCourse" aria-expanded="false">
                            <img class="icon_close" src="../images/icons/cancel_icon.png" alt="닫기버튼">
                        </button>
                        <div class="dayCourse">
                            <h3>코스</h3>
                            <p><span id="selectedDate"></span></p>
                            <div class="courseList" id="selectedColor">
                                <p><strong>1일차</strong></p>
                                <p style="margin-left: 30px"><strong>니뽕내뽕 강남역점</strong> <span id="selectedStore"></span></p>
                                <p style="margin-left: 30px"><span id="selectedMemo"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--토글버튼 추가-->
<div class="sidebar-arrow-container">
    <div class="sidebar-toggle">
        <img class="arrow-icon" src="../images/icons/backButton-B_icon.png" alt="toggle icon">
    </div>
</div>

<!--김션이 수정(지도 div를 다른 요소에 영향받지 않도록 밖으로 뺌)-->
<!--지도-->
<div class="map_wrap">
    <div id="map" style="width:100%;height:100vh;position:relative;overflow:hidden;"></div>
</div>

<script src="js/randomPin/randomPin.js"></script>
</body>
</html>