<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityMapper">
    <select id="getAllCourses" resultType="courseDto">
        SELECT ROW_NUMBER() OVER(ORDER BY c.heartCnt desc) as courseRank
             , c.*
          FROM course c
         ORDER BY c.heartCnt DESC
    </select>

    <select id="getCourseDetailsByCourseId" parameterType="int" resultType="courseDetailDto">
        SELECT * FROM course_detail WHERE courseId = #{courseId} ORDER BY visitDate
    </select>

    <select id="getCourseDetailByCourses" parameterType="list" resultType="courseDetailDto">
        SELECT *
          FROM COURSE_DETAIL
         WHERE 1=1
           AND X IS NOT NULL
           AND Y IS NOT NULL
           AND COURSEID IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>
