<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextpin.app.mapper.CourseMapper">
    <select id="findCourseByUserId" parameterType="string" resultType="com.nextpin.app.dto.CourseDto">
        SELECT distinct c.courseName
             , d.visitDate
            FROM course c
            JOIN course_detail d ON c.courseId = d.courseId
            WHERE c.userId = #{userId}
    </select>

    <select id="findCourseDetail" parameterType="string" resultType="map">
        SELECT c.courseId
             , d.location
             , d.visitDate
             , d.memo
             , d.day
            FROM course c
            JOIN course_detail d ON c.courseId = d.courseId
            WHERE c.userId = #{userId}
            ORDER BY d.course_detail_id
    </select>

    <update id="updateMemo" parameterType="com.nextpin.app.dto.CourseDetailDto">
        UPDATE course_detail
            SET memo = #{memo}
            WHERE course_detail_id = #{courseDatailId}
    </update>
</mapper>