<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--생성한 Mapper 인터페이스와 namespace 속성으로 연결-->
<mapper namespace="DataMapper">
    <insert id="crowlData" parameterType="list">
        INSERT INTO MAP
        (
            categoryGroupCode,
            categoryGroupName,
            categoryName,
            placeName,
            score,
            addressName,
            roadAddressName,
            businessHour,
            phone,
            courseShare,
            x,
            y
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.categoryGroupCode, jdbcType=VARCHAR},
            #{item.categoryGroupName, jdbcType=VARCHAR},
            #{item.categoryName, jdbcType=VARCHAR},
            #{item.placeName},
            #{item.score},
            #{item.addressName},
            #{item.roadAddressName, jdbcType=VARCHAR},
            #{item.businessHour, jdbcType=VARCHAR},
            #{item.phone, jdbcType=VARCHAR},
            #{item.courseShare, jdbcType=VARCHAR},
            #{item.x},
            #{item.y}
            )
        </foreach>
    </insert>
    <select id="getAddressDatas" resultType="kakaoMapData">
        SELECT ID
             , CATEGORYGROUPCODE
             , CATEGORYGROUPNAME
             , CATEGORYNAME
             , PLACENAME
             , SCORE
             , ADDRESSNAME
             , ROADADDRESSNAME
             , BUSINESSHOUR
             , PHONE
             , COURSESHARE
             , X
             , Y
          FROM MAP
    </select>

    <update id="updateAddressConversion" parameterType="kakaoMapData">
        UPDATE MAP
           SET X = #{x}
             , Y = #{y}
         WHERE ADDRESSNAME = #{addressName}
           AND ID = #{id}
    </update>
</mapper>