<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextpin.app.mapper.MemberMapper">
    <insert id="signUp" parameterType="user">
        INSERT INTO user(
              userId
            , nickname
            , userPwd
        ) values (
              #{userId}
            , #{nickname}
            , #{password}
        )
    </insert>

    <select id="getMembers" resultType="user">
        select userId
            , nickname
            , userPwd
            from user
    </select>

    <select id="getMemberByUserId" parameterType="string" resultType="user">
        select userId
            , userPwd
            , nickname
            from user
            where userId = #{userId}
    </select>

    <select id="userIdCheck" parameterType="string" resultType="int">
        select count(*)
            from user
            where userId = #{userId}
    </select>

    <select id="userNicknameCheck" parameterType="string" resultType="int">
        select count(*)
            from user
            where nickname = #{nickname}
    </select>

    <select id="login" parameterType="user" resultType="user">
        select userId
            , userPwd
            , nickname
            from user
            where userId = #{userId}
              and userPwd = #{password}
    </select>
</mapper>