<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlaceMapper">

    <select id="getAllPlaces" resultType="kakaoMapData">
        SELECT ID
             , CATEGORYGROUPCODE
             , CATEGORYGROUPNAME
             , CATEGORYNAME
             , PLACENAME
             , SCORE
             , ADDRESSNAME
             , ROADADDRESSNAME
             , BUSINESSHOUR
             , PHONE
             , COURSESHARE
             , X
             , Y
        FROM MAP
    </select>

    <select id="getPlacesByKeyword" parameterType="map" resultType="kakaoMapData">
        SELECT ID
        , CATEGORYGROUPCODE
        , CATEGORYGROUPNAME
        , CATEGORYNAME
        , PLACENAME
        , SCORE
        , ADDRESSNAME
        , ROADADDRESSNAME
        , BUSINESSHOUR
        , PHONE
        , COURSESHARE
        , X
        , Y
        FROM MAP
        WHERE 1=1
        <if test="category != null and category != ''">
            AND CATEGORYGROUPCODE = #{category}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (
            PLACENAME LIKE CONCAT('%', #{keyword}, '%')
            OR
            ADDRESSNAME LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        ORDER BY RAND()
        , X
        <if test="cnt != null and cnt != ''">
        LIMIT #{cnt}
        </if>
    </select>

</mapper>