<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nextpin.app.mapper.SaveCourseMapper">
    <insert id="saveCourse" parameterType="com.nextpin.app.dto.SaveCourseDto">
        INSERT INTO course (userId, nickname, courseName, regDate, modifyDate, bookMark, heartCnt, isPublic, color)
        VALUES (#{userId}, #{nickname}, #{courseName}, NOW(), null, #{bookMark}, #{heartCnt}, #{isPublic}, #{color});
    </insert>
</mapper>