<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextPin</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/kakaoMap.css"/>
    <link rel="stylesheet" href="css/course/maincourse.css"/>
    <!--커뮤니티 메인페이지 스타일 시트 적용-->
    <link rel="stylesheet" href="css/course/courseMake.css">
    <!-- 사이드바 스타일 시트 적용 -->
    <link rel="stylesheet" href="css/common/side-bar_style_mingyo.css">

    <!--jQuery UI CSS 파일-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <!--jQuery 기본 js파일-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--jQuery UI 라이브러리 js 파일-->
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <script src="js/jquery-3.7.1.min.js"></script>
    <!--카카오맵 불러오기-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b65896833a405b71281c94d1dd53a4de&libraries=services"></script>

    <!-- 파비콘 설정 -->
    <link rel="icon" type="image/png" href="../images/icons/NP_pavicon.png">

    <!--courseMake JavaScript 연동-->
    <script src="js/course/courseMake.js"></script>
</head>
<body>
<div class="container">
    <!-- 사이드바 -->
    <nav id="side-bar">
        <div class="wrapper">
            <div id="title">
                <!-- 메인화면으로 이동 -->
                <a href="../main" class="link">
                    <img src="../images/icons/NP_icon.png" alt="NP아이콘">
                </a>
            </div>
            <!-- 메뉴들 -->
            <div id="icons">
                <div class="icon menu">
                    <!-- 코스로 이동 -->
                    <a href="/mainCourse" class="link">
                        <img src="../images/icons/course-hover_icon.png" alt="코스아이콘" id="course-icon">
                        <span>코스</span>
                    </a>
                </div>
                <div class="icon menu">
                    <!-- 일정으로 이동 -->
                    <a href="/calendar" class="link">
                        <img src="../images/icons/calendar_icon.png" alt="일정아이콘" id="calendar-icon">
                        <span>일정</span>
                    </a>
                </div>
                <div class="icon menu">
                    <!-- 커뮤니티로 이동 -->
                    <a href="/community" class="link">
                        <img src="../images/icons/community_icon.png" alt="커뮤니티아이콘" id="community-icon">
                        <span id="community-span">커뮤니티</span>
                    </a>
                </div>
                <div class="icon menu">
                    <!-- 랜덤핀으로 이동 -->
                    <a href="/randomPin" class="link">
                        <img src="../images/icons/randomPin_icon.png" alt="랜덤아이콘" id="random-icon">
                        <span>랜덤핀</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="profile">
            <li class="menu">
                <!-- 로그인으로 이동 -->
                <a href="/login" class="link">
                    <img src="../images/icons/profile_img.png" alt="기본 프로필 이미지">
                </a>
            </li>
        </div>
    </nav>

    <div class="content">
        <div class="content-inner">
            <div class="search-bar">
                <div class="search-container">
                    <input type="text" placeholder="장소명, 주소" class="search-input" id="searchInput">
                    <!--검색 버튼: 돋보기.svg-->
                    <button class="search-button" onclick="searchAndDisplay(); toggleBanners(); searchPlaces(); toggleList();">
                        <img src="images/icons/Search-blue_icon.png" alt="검색">
                    </button>
                </div>
            </div>
        </div>
        <div class="underline"></div> <!-- 회색 선 -->

        <div class="searchResult" id="searchResult"></div> <!-- 검색 결과를 표시할 공간 -->

        <!--배너들-->
        <div class="banners">
            <button class="restaurant banner">
                <img src="images/icons/foodPlace_icon.png" alt="맛집배너">
            </button>
            <button class="cafe banner">
                <img src="images/icons/caffePlace_icon.png" alt="카페배너">
            </button>
            <button class="sight banner">
                <img src="images/icons/tourPlace_icon.png" alt="관광지배너">
            </button>
            <button class="hotel banner">
                <img src="images/icons/lodgingPlace_icon.png" alt="숙소배너">
            </button>
        </div>
            <!--장소 검색 후 장소 목록-->
            <div id="menu_wrap" class="bg_white">
                <ul id="placesList"></ul>
                <div id="pagination"></div>
            </div>
    </div>


    <!--지도-->
    <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

    </div>
</div>
<!--카카오맵 불러오기-->
<!--    <script src="js/kktmap.js"></script>-->

</body>
</html>
