<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NextPin</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/kakaoMap.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--코스 메인페이지 스타일 시트 적용-->
    <link rel="stylesheet" href="css/course/mainCourse.css"/>
    <!-- 사이드바 스타일 시트 적용 -->
    <link rel="stylesheet" href="css/common/sidebar_myPin.css">

    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--카카오맵 불러오기-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b65896833a405b71281c94d1dd53a4de&libraries=services"></script>

    <!-- 파비콘 설정 -->
    <link rel="icon" href="../images/icons/NP_pavicon.png">
</head>
<body>
<!-- 사이드바 -->
<nav id="side-bar">
    <!--로고-->
    <a href="/main" class="logo">
        <img src="../images/icons/NP_icon.png" alt="로고 아이콘">
    </a>
    <!--구분선-->
    <div class="separator"></div>
    <a href="/courseHomeReview2" class="menu-item menu-item-course">
        <img src="../images/icons/course_icon.png" alt="코스">
        <span>코스</span>
    </a>
    <a href="/calendar" class="menu-item">
        <img src="../images/icons/calendar_icon.png" alt="일정">
        <span>일정</span>
    </a>
    <a href="/community" class="menu-item">
        <img src="../images/icons/community_icon.png" alt="커뮤니티">
        <span>커뮤니티</span>
    </a>
    <a href="/randomPin" class="menu-item">
        <img src="../images/icons/randomPin_icon.png" alt="랜덤핀">
        <span>랜덤핀</span>
    </a>
    <a href="/myPin" class="sidebar-profile">
        <img src="../images/icons/mypage_icon.png" alt="Profile">
    </a>
</nav>

<div id="courseDetail" class="course_detail">
<!--    <div class="logo">-->
<!--        <a href="../main" class="link">-->
<!--            <img src="../images/icons/logo-NextPin-A_icon.png" alt="NextPin Logo">-->
<!--        </a>-->
<!--    </div>-->
    <div class="input-group mb-3">
        <input type="text" id="inputPlace1" class="form-control" placeholder="오늘은 어디로 가시겠어요?" value="">
        <button class="btn" type="button" id="searchBtn1">
            <img src="../images/icons/Search-blue_icon.png" alt="돋보기">
        </button>
    </div>
    <div class="search-btn-group">
        <button id="addSearchBtn">
            <img src="../images/icons/plus_icon.png" alt="검색창 추가 버튼">
        </button>
        <button id="removeSearchBtn">
            <img src="../images/icons/minus_icon.png" alt="검색창 제거 버튼">
        </button>
    </div>
    <div class="input-group mb-3">
        <input type="text" id="inputPlace2" class="form-control" placeholder="오늘은 어디로 가시겠어요?" value="" style="display: none">
        <button class="btn" type="button" id="searchBtn2" style="display: none">
            <img src="../images/icons/Search-blue_icon.png" alt="돋보기">
        </button>
    </div>
    <div class="course_location_title">
        <span>추천</span>
    </div>
    <div class="course_location_type">
        <label id="course_food_label">
            <img src="../images/icons/foodPlace_icon.png" alt="맛집 이미지"> #맛집
            <input type="radio" name="courseType" id="course_food" value="course_food" checked autocomplete="off">
        </label>
        <label id="course_cafe_label">
            <img src="../images/icons/cafePlace_icon.png" alt="카페 이미지"> #카페
            <input type="radio" name="courseType" id="course_cafe" value="course_cafe" autocomplete="off">
        </label>
        <label id="course_tour_label">
            <img src="../images/icons/tourPlace_icon.png" alt="관광지 이미지"> #관광지
            <input type="radio" name="courseType" id="course_tour" value="course_tour" autocomplete="off">
        </label>
        <label id="course_rest_label">
            <img src="../images/icons/lodgingPlace_icon.png" alt="숙소 이미지"> #숙소
            <input type="radio" name="courseType" id="course_rest" value="course_rest" autocomplete="off">
        </label>
    </div>
    <div id="locationList">
        <ul id="placesList"></ul>
        <nav>
            <ul class="pagination" style="justify-content: center;"></ul>
        </nav>
    </div>
</div>

<div class="sidebar-arrow-container">
    <div class="sidebar-toggle">
        <img class="arrow-icon" src="../images/icons/backButton-B_icon.png" alt="toggle icon">
    </div>
</div>
<div class="map_wrap">
    <div id="map" style="width:200%;height:100%;position:relative;overflow:hidden;"></div>
</div>
<script src="js/course/mainCourse.js"></script>
</body>
</html>