/* 글꼴 */
@font-face {
    font-family: 'pretendard-semibold';
    src: url('../../webfonts/woff/Pretendard-SemiBold.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'pretendard-semibold';
    height: 100%;
    overflow: hidden;
    -webkit-print-color-adjust: exact;
    box-sizing: content-box;
}

#root {
    -webkit-print-color-adjust: exact;
}

.root_wrap {
    display: flex;
    height: 100vh;
    user-select: none;
}

/*사이드바 제외 전체화면*/
#app_layout {
    flex: 1 1 auto;
    padding-left: 6.5rem;
}

/*가게 정보와 코스 만들기 창*/
.storeDetail_courseMaker {
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 200;
    height: 100%;
    min-width: 390px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 10px 0px 15px 0px;
}

/*가게 정보와 코스 만들기 창 w/ outline*/
.storeDetail_courseMaker_outline {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

/*뒤로가기 버튼*/
#backToMainCourse {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

#backToMainCourse img {
    height: 30px;
}

/*상단 검색창 부분*/
.searching {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    z-index: 100;
    width: 390px;
    padding: 15px 25px;
}

.search_wrap {
    position: relative;
}

.search_box {
    display: flex;
}

/*검색어 입력 부분*/
.search_box #inputPlace {
    border-top: 2px solid #40a0ff;
    border-left: 2px solid #40a0ff;
    border-bottom: 2px solid #40a0ff;
    border-right: #fff;
    position: relative;
    z-index: 110;
    height: 47.7px;
    border-right: none; /* 오른쪽 경계선 제거 */
    border-top-left-radius: 5px; /* 좌측 상단 모서리 둥글게 */
    border-bottom-left-radius: 5px; /* 좌측 하단 모서리 둥글게 */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*검색창 돋보기 버튼*/
.search_box #searchBtn {
    border-top: 2px solid #40a0ff;
    border-right: 2px solid #40a0ff;
    border-bottom: 2px solid #40a0ff;
    border-left: #fff;
    height: 47.7px;
    display: inline-block;
    border-left: none; /* 왼쪽 경계선 제거 */
    border-top-right-radius: 5px; /* 우측 상단 모서리 둥글게 */
    border-bottom-right-radius: 5px; /* 우측 하단 모서리 둥글게 */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*검색장소 Detail*/
.storeDetail_wrap {
    position: relative;
    width: 390px;
    height: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    box-sizing: content-box;
    z-index: 20;
    /*box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);*/

}

.panel_content {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(255, 255, 255);
    padding-top: 76px;
    box-sizing: border-box;
}

.storeDetail {
    width: 390px;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*니뽕내뽕 데이터*/
/* 메인 > 장소이름 */
#homeTitle {
    /* margin-top: 1rem;
    margin-left: 2rem; */
    margin-left: 7%;
    margin-top: 3%;
    width: 100%;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    position: relative;
    padding-right: 40px;
}

#homeTitle h1{
    /*font-size: 20px;*/
    font-weight: bold;
    font-size: calc(1.3rem + .7vw);
}

a {
    text-decoration: none;
}

/* 메인 뒤로가기 버튼 */
#backToMainCourse{
    vertical-align: top;
    margin-right: 3%;
}

/* 메인 > 이미지 영역 */
#homeDetail {
    text-align: left;
}

/* 메인 > 장소이름 > 카테로고리명 */
#homeTitle .food_type {
    color: #8D8D8D;
    font-size: 14px;
}

/*코스 생성 버튼*/
.chosenPin {
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.icon_pin {
    width: 45px;
    height: 45px;
}

/* 메인 > 리뷰점수 */
#reviewStatics {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 2rem;
    position: relative;
    font-size: small;
}
#reviewStatics span {
    margin-right: 5%;
}
/* 메인 > 리뷰점수 > 수치 */
#reviewScore {
    color: red;
}
/* 메인 > 홈/리뷰 선택 */
#homeOrReview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 5%;
    border-bottom: 1px solid #ddd;
}
#homeOrReview span {
    margin: 5% auto 3%;
}
a[aria-selected='true'] {
    color: #40a0ff;
}
a[aria-selected='false'] {
    color: black;
}
/* 메인 > 장소이름 > 홈 > 상세정보 */
#homeContents {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;
    height: 420px;
    overflow-y: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}
/* 메인 > 장소이름 > 홈 > > 상제성보 > 정보 수정 제안 링크 */
.location_modify_suggestion {
    text-align: right;
    text-decoration: underline;
}
#modifyLink {
    color: #8D8D8D;
}

.icon_address {
    width: 18px;
    height: 18px;
}

/* 메인 > 장소이름 > 홈 > 상세정보 > 지번 */
#homeContents .street_number {
    margin-left: 5%;
    color: #8D8D8D;
    font-size: 15px;
}
/* 메인 > 장소이름 > 홈 > 상세정보 span 태그 */
#homeContents span {
    margin: 0.4rem 0;
}
/* 메인 > 장소이름 > 홈 > 영업중 시간 */
.location_time li {
    margin-left: 1rem;
    margin-top: 0.4rem;
    list-style: none;
}

a {
    text-decoration: none;
}

/* 메인 > 장소이름 > 홈 > 상세정보 url */
#locationUrl {
    text-decoration: underline;
}
/* 메인 > 장소이름 > 리뷰 > 상세정보 */
#reviewContents {
    margin: 3% 7% 2% 7%;
    height: 420px;
    overflow-y: auto;
    text-align: left;
}
#userAfterCourseDate1 {
    color: #7B7B7B;
}

/* 장소 리스트 */
#reviewContents {
    margin-top: 1rem;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* 스크롤바 가로길이 */
#reviewContents::-webkit-scrollbar {
    width: 10px;
}
/* 스크롤바 바영역 색상 */
#reviewContents::-webkit-scrollbar-thumb {
    background-color: #40a0ff;
    border-radius: 5px;
}
/* 스크롤바 스크롤영역 색상 */
#reviewContents::-webkit-scrollbar-track {
    background-color: #E1E1E1;
    border-radius: 5px;
}
/* 리뷰 리스트 */
#reviewDetailList {
    margin-left: 1%;
}
#reviewDetailList li {
    padding-top: 3%;
    padding-bottom: 5%;
    border-bottom: 2px solid #E1E1E1;
}
/*니뽕내뽕 데이터 END*/

/*코스 생성창*/
.close_icon {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: 250px;
}

.icon_close {
    width: 25px;
    height: 25px;
}

.sub_panel {
    display: none;
    position: relative;
    width: 300px;
    height: 100%;
    flex: 0 0 auto;
    flex-direction: column;
    box-sizing: content-box;
}

.sub_panel.show {
    display: block;
    position: relative;
    width: 300px;
    height: 100%;
    flex: 0 0 auto;
    flex-direction: column;
    box-sizing: content-box;
    border-left: 1px solid #e0e0e0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.courseMaker {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(255, 255, 255);
    padding-top: 0px;
    box-sizing: border-box;
    margin-left: 410px;
}

.blue {
    color: #4098FF;
}

/*메모*/
.memo-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}
.memo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.memo-title h3 {
    margin: 0;
    font-size: 18px;
}
.memo-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #4098FF;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none; /* 크기 조절 막기 */
}
.memo-input:disabled {
    background: #ffffff;
    border: 1px solid #c3c3c3;
}

/*캘린더 날짜 선택*/
.calendar {
    padding: 20px;
}

.calendar h3 {
    margin: 0;
    font-size: 18px;
}

.calendar .input__item {
    margin-top: 10px;
    padding: 0;
}

/*색상 선택*/

.color {
    padding: 20px;
}

.color h3 {
    margin: 0;
    font-size: 18px;
}

.colorPalette {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap; /* 버튼이 넘치면 자동으로 다음 줄로 내리기 */
    justify-content: center; /* 가운데 정렬 */
}

.colorPalette button {
    width: 40px; /* 버튼의 크기 조절 */
    height: 40px; /* 버튼의 크기 조절 */
    border-radius: 50%; /* 원형 모양 */
    margin: 10px 5px; /* 버튼 간격 조절 */
    border: none; /* 테두리 없애기 */
    cursor: pointer; /* 마우스 오버 시 포인터 모양 */
}

.color-button.selected {
    border: 3px solid #4098FF; /* 선택된 버튼에만 테두리 추가 */
}

.finishButton {
    text-align: right;
    padding: 20px;
}

.finish-button {
    border: none;
    border-radius: 10px;
    width: 55px;
    height: 35px;
    color: white;
}

/*설정한 코스창*/
.hidden { display: none; }
.selected { border: 2px solid black; }
.new-panel h3 { margin-bottom: 10px; text-align: center;}
.color-sample { width: 20px; height: 20px; display: inline-block; vertical-align: middle; }

.new-panel {
    width: 300px;
    height: 100%;
    padding: 20px;
    background-color: white;
}

.dayCourse {
    border: 1px solid #4098FF;
    border-radius: 5px;
    background-color: white;
}
