<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextPin Main</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <!-- 메인화면 스타일 시트 적용-->
    <link rel="stylesheet" href="/css/mainPageStyle.css"/>
    <!-- 파비콘 설정 -->
    <link rel="icon" href="../images/icons/NP_pavicon.png">
</head>
<body>
    <header>
        <div class="logo"><a href="#"><img src="../images/icons/logo-NextPin-B_icon.png" alt="NextPin Logo"></a></div>
        <div class="actions">
<!--            <a href="/login" class="login">Log In</a>-->
<!--            <a href="/signUp" class="signUp">Sign Up</a>-->
        </div>
    </header>
    <main>
        <div class="feature-container">
            <img src="../images/img/home-main_img.png" alt="World Map">
            <div class="text-overlay">
                <img src="/images/img/Create NextPin_img.png" alt="Create NextPin">
                <p>나만의 Next Pin을 만들어보세요.</p>
            </div>
        </div>
        <div class="features">
            <div class="feature">
                <a href="/mainCourse" class="mainCourse-link"><img src="../images/icons/home_course_icon.png" alt="Course" class="mainCourse-img"></a>
      
            </div>
            <div class="feature">
            <a href="/calendar" class="calendar-link"><img src="../images/icons/home_calendar_icon.png" alt="Calendar" class="calendar-img"></a>

            </div>
            <div class="feature">
                <a href="/randomPin" class="randomPin-link"><img src="../images/icons/home_randomPin_icon.png" alt="Random Pin" class="randomPin-img"></a>

            </div>
            <div class="feature">
                <a href="/community" class="community-link"><img src="../images/icons/home_community_icon.png" alt="Community" class="community-img"></a>

            </div>
            <div class="feature">
            <a href="/myPin" class="userPage-link"><img src="../images/icons/home_myPage_icon.png" alt="My Page" class="userPage-img"></a>

            </div>
        </div>
    </main>
    <footer>
        <div style="display:flex; justify-content: space-between; align-items:center;">
            <p style="text-align: left; font-size: 20px; color: #4098ff;">NextPin
            </p>
            <div class="social-icons">
                <a href="#"><img src="../images/icons/facebook_icon.png" alt="Facebook"></a>
                <a href="#"><img src="../images/icons/linkedin_icon.png" alt="LinkedIn"></a>
                <a href="#"><img src="../images/icons/youtube_icon.png" alt="YouTube"></a>
                <a href="#"><img src="../images/icons/instagram_icon.png" alt="Instagram"></a>
            </div>
        </div>
        <p>&copy; 2024 Bitcamp Ncamp study 01</p>
    </footer>
    <script>
        // 로그인했을 시 Login / Signup 버튼이 사라지고 사용자의 닉네임과
        // LogOut 버튼이 나오게 하기 위한 JSon
        document.addEventListener("DOMContentLoaded", function (){
            fetch('/info')
                .then(response => response.json())
                .then(data => {
                    const actionsDiv = document.querySelector('.actions');
                    // 만약 유저가 로그인했을 시 닉네임하고 버튼 표시하기
                    if(data.isLoggedIn) {
                        actionsDiv.innerHTML = `
                            <span id="nickname">${data.nickname}</span>
                            <a href="/logout.do" class="logout">Log Out</a>
                        `;

                        // 로그아웃 버튼 클릭 이벤트 추가
                        document.getElementsByClassName('logout').addEventListener('click', function (){
                            fetch('logout.do', {
                                method: 'GET',
                                // 같은 출처의 쿠키 포함
                                credentials: 'same-origin'
                            })
                            .then(response => {
                                if(response.redirected) {
                                    // 리다이렉트 URL로 이동하기
                                    window.location.href = response.url;
                                }
                            })
                            .catch(error => console.error('로그아웃 에러: ', error))
                        });
                    }
                    // 유저가 로그인한 게 아니라면 버튼 표시하기
                    else {
                        actionsDiv.innerHTML = `
                            <a href="/login" class="login">Log In</a>
                            <a href="/signUp" class="signUp">Sign Up</a>
                        `;
                    }
                })
                // 에러 발생 시
                .catch(error => console.error('Error fetching member info: ', error));
        });
    </script>
</body>
</html>