<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextPin Main</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <!-- 메인화면 스타일 시트 적용-->
    <link rel="stylesheet" href="/css/mainPageStyle.css"/>
    <!-- 파비콘 설정 -->
    <link rel="icon" href="../images/icons/NP_pavicon.png">
</head>
<body>
    <header>
        <div class="logo"><a href="#"><img src="../images/icons/logo-NextPin-B_icon.png" alt="NextPin Logo"></a></div>
        <div class="actions">
            <a href="/login" class="login">Log In</a>
            <a href="/signUp" class="signUp">Sign Up</a>
        </div>
    </header>
    <main>
        <div class="feature-container">
            <img src="../images/img/home-main_img.png" alt="World Map">
            <div class="text-overlay">
                <img src="/images/img/Create NextPin_img.png" alt="Create NextPin">
                <p>나만의 Next Pin을 만들어보세요.</p>
            </div>
        </div>
        <div class="features">
            <div class="feature">
                <a href="/mainCourse"><img src="../images/icons/home_course_icon.png" alt="Course"></a>
      
            </div>
            <div class="feature">
            <a href="/calendar"><img src="../images/icons/home_calendar_icon.png" alt="Calendar"></a>

            </div>
            <div class="feature">
                <a href="/randomPin"><img src="../images/icons/home_randomPin_icon.png" alt="Random Pin"></a>
 
            </div>
            <div class="feature">
                <a href="/community"><img src="../images/icons/home_community_icon.png" alt="Community"></a>

            </div>
            <div class="feature">
            <a href="/userPage"><img src="../images/icons/home_myPage_icon.png" alt="My Page"></a>

            </div>
        </div>
    </main>
    <footer>
        <div style="display:flex; justify-content: space-between; align-items:center;">
            <p style="text-align: left; font-size: 20px; color: #4098ff;">NextPin
            </p>
            <div class="social-icons">
                <a href="#"><img src="../images/icons/facebook_icon.png" alt="Facebook"></a>
                <a href="#"><img src="../images/icons/linkedin_icon.png" alt="LinkedIn"></a>
                <a href="#"><img src="../images/icons/youtube_icon.png" alt="YouTube"></a>
                <a href="#"><img src="../images/icons/instagram_icon.png" alt="Instagram"></a>
            </div>
        </div>
        <p>&copy; 2024 Bitcamp Ncamp study 01</p>
    </footer>
</body>
</html>