<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sidebar.css">
    <title>사이드바 예시</title>
</head>
<body>
    <div class="sidebar">
        <a href="로고링크" class="logo">
            <img src="images/icons/NP_icon.png" alt="Logo">
        </a>
        <div class="separator"></div>
        <a href="코스링크" class="menu-item menu-item-course">
            <img src="images/icons/course_icon.png" alt="코스">
            <span>코스</span>
        </a>
        <a href="일정링크" class="menu-item">
            <img src="images/icons/calendar_icon.png" alt="일정">
            <span>일정</span>
        </a>
        <a href="커뮤니티링크" class="menu-item">
            <img src="images/icons/community_icon.png" alt="커뮤니티">
            <span>커뮤니티</span>
        </a>
        <a href="랜덤핀링크" class="menu-item">
            <img src="images/icons/randomPin_icon.png" alt="랜덤핀">
            <span>랜덤핀</span>
        </a>
        <a href="마이페이지링크" class="profile">
            <img src="images/icons/mypage_icon.png" alt="Profile">
        </a>
    </div>
</body>
</html>
