/* 폰트설정 */
@font-face {
    font-family: 'pretendard-semibold';
    src: url('../../webfonts/woff/Pretendard-SemiBold.woff');
    font-weight: normal;
    font-style: normal;
}
/* 전체 스타일 */
body {
    font-family: 'pretendard-semibold';
    height: 100vh;
    margin: 0;
    display: flex;
}
/* 왼쪽 사이드바 메뉴 */
nav {
    margin: 1%;
    vertical-align: middle;
    border-right: 2px solid #EEEEEE;
}
/* 왼쪽 사이드바 하이퍼링크 */
nav a {
    text-decoration-line: none;
}
/* 왼쪽 사이드바 하이퍼링크 글자색 */
nav a:link {
    color: black;
    text-decoration-line: none;
}
/* 왼쪽 사이드바 하이퍼링크(링크를 한 번이상 탔을 때) 글자색 */
nav a:visited {
    color: black;
    text-decoration-line: none;
}
/* 왼쪽 사이드바 메뉴 이미지 */
.nav_icon {
    margin-top: 50%;
    text-align: center;
}
/* 왼쪽 사이드바 메뉴 개인프로필 */
.nav_mypage {
    text-align: center;
}
/* 왼쪽 사이드바 이미지 배치 */
.nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* NP 타이틀 */
.nav-wrapper #title {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding: 15px 0 10px 0 ;
}
.nav-wrapper #title img {
    width: 100px;
    height: 80px;
}
.nav-wrapper .nav_icon_course {
    margin-top: 0;
}

/* 왼쪽 메뉴 리스트(장소추천, My Pin) */
li {
    line-height: 30px;
}
/* 왼쪽 메뉴 리스트 아이콘 색상 */
li::marker {
    color:#40a0ff;
}
/* 메인 */
.course_detail {
    margin: 1%;
    width : 450px;
    text-align: center;
    vertical-align: middle;
}
/* 메인 이미지 */
.course_detail .logo img {
    width: 30%;
    height: 5%;
    margin-bottom: 5%;
}
/* 메인 장소 입력칸 */
.course_detail #inputPlace {
    border-top: 2px solid #40a0ff;
    border-left: 2px solid #40a0ff;
    border-bottom: 2px solid #40a0ff;
    border-right: #fff;
}
/* 메인 장소 입력칸 오른쪽 버튼 */
.course_detail #searchBtn {
    border-top: 2px solid #40a0ff;
    border-right: 2px solid #40a0ff;
    border-bottom: 2px solid #40a0ff;
    border-left: #fff;
}
/* 전체 버튼 */
.btn-primary {
    background-color: #40a0ff !important;
    padding: 15px;
    border: 2px solid #40a0ff;
    border-radius: 10px;
}
/* 사이드바 토글 버튼*/
.sidebar-toggle {
    position: absolute;
    top: 50%;
    left: 32%;
    width: 50px;
    height: 80px;
    border-left: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url('../../images/icon_toggleButton.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}
.sidebar-container.open {
    width: 200px;
}
.sidebar-arrow-container {
    position: relative;
    top: 0;
    left: 0.7%;
    height: 100%;
    width: 30px;
    text-align: center;
    background-color: transparent;
    transition: width 0.3s ease;
    z-index: 2;
}