<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>NextPin</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/kakaoMap.css">
    <link rel="stylesheet" href="css/course/maincourse.css">
    <!-- 사이드바 스타일 시트 적용 -->
    <link rel="stylesheet" href="css/common/sidebar_myPin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- jQuery -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!--카카오맵 불러오기-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b65896833a405b71281c94d1dd53a4de&libraries=services"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- 파비콘 설정 -->
    <link rel="icon" type="images/png" href="../images/icons/NP_pavicon.png">
    <!--내 css파일을 가장 마지막에 주기(cascading으로 인해 다른 파일(특히 부트스트랩)의 스타일이 적용될 수 있음.)-->
    <link rel="stylesheet" href="css/mypin/mypin.css">
</head>
<body>
    <!-- 사이드바 -->
    <nav id="side-bar">
        <!--로고-->
        <a href="/main" class="logo">
            <img src="../images/icons/NP_icon.png" alt="로고 아이콘">
        </a>
        <!--구분선-->
        <div class="separator"></div>
        <a href="/mainCourse" class="menu-item menu-item-course">
            <img src="../images/icons/course_icon.png" alt="코스">
            <span>코스</span>
        </a>
        <a href="/calendar" class="menu-item">
            <img src="../images/icons/calendar_icon.png" alt="일정">
            <span>일정</span>
        </a>
        <a href="/community" class="menu-item">
            <img src="../images/icons/community_icon.png" alt="커뮤니티">
            <span>커뮤니티</span>
        </a>
        <a href="/randomPin" class="menu-item">
            <img src="../images/icons/randomPin_icon.png" alt="랜덤핀">
            <span>랜덤핀</span>
        </a>
        <a href="/myPin" class="sidebar-profile">
            <img src="../images/icons/mypage_icon.png" alt="Profile">
        </a>
    </nav>

    <!--사이드 네브바-->
    <div class="side-navbar">
        <!--프로필-->
        <div class="profile">
            <img id="profile-img" src="${profileURL}" alt="Profile Picture">
            <div class="profile-container">
                <p class="profile-name">${nickname}</p>
                <p class="profile-content">
                    <p id="profile-description">${message}</p>
                    <textarea id="profile-textarea" rows="2"></textarea>
                    <img src="../images/icons/edit-gray_icon.png" alt="Edit Icon" class="profile-edit-icon" onclick="profileEditDescription()">
                </p>
            </div>
        </div>

        <!--구분선-->
        <div class="division-line"></div>

        <!-- 검색창 -->
        <div class="input-group mb-3">
            <input type="text" id="inputPlace1" class="form-control" placeholder="코스 검색" value="">
            <button class="btn" type="button" id="searchBtn1">
                <img src="../images/icons/Search-blue_icon.png" class="search-img" alt="돋보기">
            </button>
        </div>
<!--        <div class="nav-search" style="display: none">-->
<!--            <input class="search-bar" type="text" placeholder="코스 검색" id="searchInput">-->
<!--        </div>-->

        <!--구분선-->
        <div class="division-line"></div>

        <!--my pin-->
        <div class="nav-mypin box">
            <img class="content-title-icon mypin-icon" src="images/icons/course_icon.png" alt="pin 아이콘">
            <p class="content-title">My <span class="yellow">P</span>in</p>
            <p class="mypin-num">3</p>
            <!--mypin내용-->
            <div class="mypin-content content">
                <ul>
                    <li>
                        <!--자물쇠 아이콘-->
                        <img class="rock-icon" src="images/icons/rock_icon.png" alt="자물쇠 아이콘">
                        <!--각 목록-->
                        <div class="container">
                            <input type="button" class="pin-description" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-controls="collapseExample1" value="강릉 커플여행 추천코스">
                            <textarea class="pin-textarea" rows="2" style="display: none"></textarea>
                            <!--미트볼 버튼-->
                            <div class="mypin-edit-icon meatball-btn">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <!-- 미트볼버튼 팝오버창 -->
                            <div class="popover-content" style="display: none; flex-direction: column;">
                                <button class="popover-item" onclick="toggleVisibility(this)">공개여부</button>
                                <button class="popover-item" onclick="editColor(this)">컬러편집</button>
                                <button class="popover-item popover-item-nameEdit" onclick="editDescription(this)">이름편집</button>
                            </div>
                        </div>
                        <!--하트 이모지와 하트 개수-->
                        <div class="pin-heart-box">
                            <p><img class="pin-heart" src="images/icons/heart-after_icon.png" alt=""></p>
                            <span class="pin-heart-cnt">14</span>
                        </div>
                    </li>
                    <!--각 목록의 세부(콜랩스) 내용-->
                    <div class='collapse' id='collapseExample1'>
                        <!--card,card-body: 부트스트랩에서 미리 정의된 스타일. 카드의 레이아웃, 배경색, 테두리 등이 미리 정의되어 있음.-->
                        <div class="card card-body">
                            <ul>
                                <div class="course-day-box">
                                    <p class="course-day-label">1일차</p>
                                    <p class="course-day">24/08/12</p>
                                    <a class="course-day-link" href="/calendar">상세보기</a>
                                </div>
                                <li>
                                    <div>
                                        당신의 안목 펜션
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        송정 해수욕장
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        번패티번 강릉
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        엔드 투 앤드 카페
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        순두부젤라또 1호점
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        차현희 순두부 청국장
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <div class="course-day-box">
                                    <p class="course-day-label">2일차</p>
                                    <p class="course-day">08/13</p>
                                    <a class="course-day-link" href="/calendar">상세보기</a>
                                </div>
                                <li>
                                    <div>
                                        아르떼뮤지엄 강릉
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        카페덕덕
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        이모네생선찜
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        현대 장칼국수
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        스튜디오 킨조 소품샵
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <li>
                        <!--자물쇠 아이콘-->
                        <img class="rock-icon" src="images/icons/rock_icon.png" style="visibility: hidden;" alt="자물쇠 아이콘">
                        <!--각 목록-->
                        <div class="container">
                            <input type="button" class="pin-description" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-controls="collapseExample2" value="쇼핑 중독러를 위한 성수 놀거리">
                            <textarea class="pin-textarea" rows="2" style="display: none"></textarea>
                            <!--미트볼 버튼-->
                            <div class="mypin-edit-icon meatball-btn">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <!-- 미트볼버튼 팝오버창 -->
                            <div class="popover-content" style="display: none; flex-direction: column;">
                                <button class="popover-item" onclick="toggleVisibility(this)">공개여부</button>
                                <button class="popover-item" onclick="editColor(this)">컬러편집</button>
                                <button class="popover-item popover-item-nameEdit" onclick="editDescription(this)">이름편집</button>
                            </div>
                        </div>
                        <!--하트 이모지와 하트 개수-->
                        <div class="pin-heart-box">
                            <p><img class="pin-heart" src="images/icons/heart-after_icon.png" alt=""></p>
                            <span class="pin-heart-cnt">12</span>
                        </div>
                    </li>
                    <!--각 목록의 세부(콜랩스) 내용-->
                    <div class="collapse" id="collapseExample2">
                        <!--card,card-body: 부트스트랩에서 미리 정의된 스타일. 카드의 레이아웃, 배경색, 테두리 등이 미리 정의되어 있음.-->
                        <div class="card card-body">
                            <ul>
                                <div class="course-day-box">
                                    <p class="course-day-label">1일차</p>
                                    <p class="course-day">08/20</p>
                                    <a class="course-day-link" href="/calendar">상세보기</a>
                                </div>
                                <li>
                                    <div>
                                        계월 곰탕
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        쿠어 플래그십 스토어
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        비이커 성수점
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        밀리언 아카이브
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        EQL 성수점
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        섬세이 테라리움
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <li>
                        <!--자물쇠 아이콘-->
                        <img class="rock-icon" src="images/icons/rock_icon.png" style="visibility: hidden;" alt="자물쇠 아이콘">
                        <!--각 목록-->
                        <div class="container">
                            <input type="button" class="pin-description" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-controls="collapseExample3" value="뚜벅이들을 위한 행리단길 데이트코스">
                            <textarea class="pin-textarea" rows="2" style="display: none"></textarea>
                            <!--미트볼 버튼-->
                            <div class="mypin-edit-icon meatball-btn">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <!-- 미트볼버튼 팝오버창 -->
                            <div class="popover-content" style="display: none; flex-direction: column;">
                                <button class="popover-item" onclick="toggleVisibility(this)">공개여부</button>
                                <button class="popover-item" onclick="editColor(this)">컬러편집</button>
                                <button class="popover-item popover-item-nameEdit" onclick="editDescription(this)">이름편집</button>
                            </div>
                        </div>
                        <!--하트 이모지와 하트 개수-->
                        <div class="pin-heart-box">
                            <p><img class="pin-heart" src="images/icons/heart-after_icon.png" alt=""></p>
                            <span class="pin-heart-cnt">58</span>
                        </div>
                    </li>
                    <!--각 목록의 세부(콜랩스) 내용-->
                    <div class="collapse" id="collapseExample3">
                        <div class="card card-body">
                            <ul>
                                <div class="course-day-box">
                                    <p class="course-day-label">1일차</p>
                                    <p class="course-day">09/02</p>
                                    <a class="course-day-link" href="/calendar">상세보기</a>
                                </div>
                                <li>
                                    <div>
                                        저스트텐동 행리단길점
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        카페 스퀘어드
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        사계면
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        그리핑 카페
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        화성 행궁
                                        <img class="pin-icon" src="images/icons/course_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <!--구분선-->
        <div class="division-line"></div>

        <!--관심있는 코스-->
        <div class="nav-like box">
            <img class="content-title-icon" src="images/icons/heart-after_icon.png" alt="하트 아이콘">
            <p class="content-title">관심있는 코스</p>
            <p class="mypin-num">1</p>
            <!--관심있는 코스 내용-->
            <div class="like-content content">
                <ul>
                    <li>
                        <div class="container">
                            <input type="button" class="edit-name" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-controls="collapseExample4" value="부산 힐링 여행 코스">
                            <img src="images/icons/save-before-icon.png" alt="Edit Icon" class="mypin-edit-icon" style="width: 20px; height: 20px" onclick='toggleSaveState(this)'>
                        </div>
                        <!-- 캘린더 팝업 -->
                        <div class="calendar-container" id="calendar-container">
                            <p class="cal-message">어느 날짜로 저장하시겠습니까?</p>
                            <input type="date" id="calendar">
                            <button id="save-date-button">저장</button>
                        </div>

                        <!-- 모달 -->
                        <div class="modal-overlay" id="modal-overlay"></div>
                        <div class="modal" id="calendar-modal">
                            <p id="modal-message">캘린더에 저장되었습니다</p>
                            <button id="close-modal-button">닫기</button>
                        </div>
                    </li>
                    <div class="collapse" id="collapseExample4">
                        <div class="card card-body">
                            <ul>
                                <div class="course-day-box">
                                    <p class="course-day-label">1일차</p>
                                    <p class="course-day">10/12</p>
                                    <a class="course-day-link" href="/calendar">상세보기</a>
                                </div>
                                <li>
                                    <div>
                                        H Avenue 호텔 광안리점
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        나사리식당 광안점
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        룩앳더바리스타 광안점
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        밀락더마켓
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        수변최고돼지국밥 민락본점
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        치플레 부산
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <div class="course-day-box">
                                    <p class="course-day-label">1일차</p>
                                    <p class="course-day">10/13</p>
                                    <a class="course-day-link" href="/calendar">상세보기</a>
                                </div>
                                <li>
                                    <div>
                                        해운대 블루라인파크
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        디아트 카페
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        우봉 샤브 청사포점
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        부산샌드 청사포점
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        오션브리즈
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        도희네 조개구이
                                        <img class="pin-icon" src="images/icons/heart-after_icon.png" alt="pin아이콘">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <!--구분선-->
        <div class="division-line"></div>

        <!--설정-->
        <div class="settings">
            <a href="#" id="openModalLink">회원 탈퇴</a>
        </div>
    </div>
    <!--사이드 네브바 열고 닫는 기능-->
    <div class="sidebar-arrow-container">
        <div class="sidebar-toggle">
            <img class="arrow-icon" src="../images/icons/backButton-B_icon.png" alt="toggle icon">
        </div>
    </div>
    <!--지도-->
    <div class="map_wrap">
        <div id="map" style="width:300%; height:100vh; position:relative; overflow: hidden"></div>
    </div>
    <script src="js/mypin/mypin.js"></script>


    <!-- 공개 여부 모달 -->
    <div id="visibilityModalContainer" class="modal">
        <div class="modal-content">
            <span class="close-visibility-modal-btn">&times;</span>
            <p class="modal-title">공개 여부 변경</p>
            <p class="modal-subtitle">해당 코스가 비공개 처리 되었습니다.</p>
        </div>
    </div>

    <!-- 컬러 변경 모달 -->
    <div id="colorModalContainer" class="modal">
        <div class="modal-content">
            <span class="close-color-modal-btn">&times;</span>
            <p class="modal-title">컬러 변경</p>
            <p class="modal-subtitle">해당 코스에 대한 색상이 저장되었습니다.</p>
        </div>
    </div>

    <!-- 컬러 팔레트 -->
    <div id="colorPalette" style="display: none;">
        <button class="color-button" style="background-color: #FFC061;"></button>
        <button class="color-button" style="background-color: #D4ADFB;"></button>
        <button class="color-button" style="background-color: #97E285;"></button>
        <button class="color-button" style="background-color: #F9A7A7;"></button>
        <button class="color-button" style="background-color: #1A70D6;"></button>
        <button class="color-button" style="background-color: #7BD0FF;"></button>
        <button class="color-button" style="background-color: #C8C8C8;"></button>
        <button class="color-button" style="background-color: #BADCE3;"></button>
        <button class="color-button" style="background-color: #AFA18E;"></button>
        <button class="color-button" style="background-color: #ECCCCF;"></button>
    </div>

    <!-- 회원탈퇴 모달 -->
    <div id="settingModalContainer" class="modal">
        <div class="modal-content">
            <span class="setting-close-btn">&times;</span>
            <p class="setting-modal-title">회원탈퇴</p>
            <p class="setting-modal-subtitle">탈퇴 시, 기존 데이터들은 <br>모두 복구 불가합니다.<br>탈퇴하시겠습니까?</p>
            <div class="setting-modal-buttons">
                <button class="setting-yes-btn">예</button>
                <button class="setting-no-btn">아니요</button>
            </div>
        </div>
    </div>

    <!-- 회원탈퇴 안내 모달 -->
    <div id="settingFarewellModal" class="modal">
        <div class="setting-modal-content1">
            <p class="setting-close-btn">&times;</p>
            <p class="setting-modal-title">회원탈퇴 안내</p>
            <p class="setting-modal-subtitle">이용해주셔서 감사합니다</p>
        </div>
    </div>
</body>
</html>